@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserProvider UserProvider

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">🧀 EasyBriezy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Context="innerContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/orders" Match="NavLinkMatch.All">Orders</NavLink>
                            </li>
                        </AuthorizeView>
                        <AuthorizeView Roles="Admin" Context="innerContext">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cheese
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="Cheese/add">Add Cheese</a></li>
                                    <li><a class="dropdown-item" href="Cheese/edit">Edit Cheese</a></li>
                                </ul>
                            </li>
                        </AuthorizeView>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="btn btn-outline-danger" href="Account/Logout" Match="NavLinkMatch.All">👋 Logout</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item me-1">
                            <NavLink class="btn btn-outline-primary" href="Account/Login" Match="NavLinkMatch.Prefix">🔑 Login</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="btn btn-outline-success" href="Account/Register" Match="NavLinkMatch.Prefix">🌟 Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {

    private User? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var username = authState?.User?.Identity?.Name;
        if (username != null)
        {
            user = UserProvider.GetUser(username)!;
        }
    }

    private string GetFormattedName(User user)
    {
        return $"{user.FirstName} {user.LastName}";
    }
}
